body{
  margin: 0;
  padding: 0;
  background-color: #34568B;
}
.center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:650px;
  background-color: aliceblue;
  border-radius: 7px;
  border:2px solid #34568B;
}
.center h1{
  text-align: center;
  padding-bottom:20px;
  border: 2px solid #34568B;
  color: red;
}
.form{
  padding-bottom: 25px;
  margin: 0 20px;
}
.textfield{
  width:100%;
  height:30px;
  margin-bottom: 20px;
  font-size: 15px;
  border:2px solid #34568B;
  border-radius: 6px;
  box-sizing: border-box;
  padding-left: 10px;
}
textarea{
  width:100%;
  height:70px;
  margin-bottom: 20px;
  font-size: 15px;
  border:2px solid #34568B;
  border-radius: 6px;
  box-sizing: border-box;
  padding-left: 10px;

}
/* select{
  margin-bottom: 20px;
  font-size: 15px;
  border:2px solid #34568B;
  border-radius: 6px;
  padding-left: 10px;
} */
.btn{
  font-size: 16px;
  width:18%;
  height:50px;
  border-radius: 7px;
  background-color: gray;
  font-weight: 700;
  color: aliceblue;
  cursor: pointer;
  border: none;
}
.btn-container{
  margin-left: 20px;
}
#btn1{
  background-color: green;
  margin-left: 8px;
}
#btn2{
  background-color: orange;
  margin-left: 8px;
}
#btn3{
  background-color: red;
  margin-left: 8px;
}
#btn4{
  background-color: blue;
  margin-left: 8px;
}
/* textarea{
  border:2px solid #34568B;
  border-radius: 6px;
} */
